extend layout

block content
  .row 
    .col-s3
      ul.collection
        li.collection-item.avatar
          span 
        
    .col-s9
    

block sidebar
  .widget
    h1 CHAT
    p
      | #{title}
    
    p
      | #{room}