extend layout

block content
  .row 
    .col-s3
      ul.collection
        li.collection-item.avatar
          span 
        
    .col-s9
    

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.